@media only screen and (min-width:800px) {

  body {
    background-image: url(/../img/backTexture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #sideBar {
    width: 15%;
    margin: 0;
    margin-top: 50px;
    margin-right: 1%;
    float: left;
    border-right: 1px solid black;
  }

  #sideBar img {
    margin-left: 1%;
    margin-bottom: 5%;
  }

  .panel-group {
    margin: 0;
  }

  #mainView {
    width: 69%;
    margin: 0;
    margin-top: 50px;
    float: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  #adBlock {
    width: 14%;
    margin: 0;
    margin-top: 50px;
    margin-left: 1%;
    float: left;
    border-left: 1px solid black;
  }

}
